@import "./themes/mocha.css";

#custom-launcher, #custom-powermenu {
  font-family: "MesloLGS NF", monospace;
  min-width: 22px;
  min-height: 22px;
  padding: 2px;
}

#custom-launcher { border-radius: 30px 0 0 30px; padding-left: 25px; }
#custom-powermenu { border-radius: 0 30px 30px 0; padding-right: 25px; }

/* Иконки запускаемых программ */
#custom-terminal, #custom-firefox, #custom-thunar, #custom-blender, 
#custom-telegram, #custom-gimp, #custom-kdenlive, #custom-kodi, 
#custom-code, #custom-pureref, #custom-bottom {
    font-family: "MesloLGS NF", monospace;
    min-width: 22px;
    min-height: 22px;
    font-size: 14pt;
    padding: 0 8px;
}

#custom-terminal { 
    color: @blue; 
    padding-left: 30px;
}

#custom-bottom { 
    color: @mauve; 
    padding-right: 30px;
}

/* Цвета Catppuccin для иконок */
#custom-terminal label { color: @blue; }
#custom-firefox label  { color: @sapphire; }
#custom-thunar label   { color: @sky; }
#custom-blender label  { color: @teal; }
#custom-telegram label { color: @green; }
#custom-gimp label     { color: @yellow; }
#custom-kdenlive label { color: @pink; }
#custom-kodi label     { color: @lavender; }
#custom-code label     { color: @maroon; }
#custom-pureref label  { color: @red; }
#custom-bottom label   { color: @mauve; }

/* Очистка фонов для правой панели */
#waybar.right-bar #custom-launcher {
    background: transparent;
    box-shadow: none;
    border: none;
}