@import "./themes/mocha.css";

/* Убран глобальный сброс margin/padding для '*', чтобы он не ломал отступы модулей и иконок */
* {
  font-family: "MesloLGS NF", monospace;
  font-weight: normal;
  transition: all 0.3s ease;
}

window#waybar {
  color: @text;
}

/* Сепараторы */
#custom-separator, #custom-separator2 {
  color: @separator; /* или color: #2c3a51; */
  min-width: 0px;
  min-height: 0px;
  padding: 0;
  margin: 0;
}

/* Тултипы (подсказки) */
#tooltip {
  transition: none;
  background: alpha(@base, 0.9);
  color: @text;
  border-radius: 10px;
  border: 2px solid @lavender;
  padding: 10px;
  font-family: sans-serif; 
  font-size: 13px;
}

#tooltip-scroll {
  color: @green;
}